#paragraph1 {
  color: blue;
}

.backgroundBlue {
  background-color: blue;
}

.colorWhite {
  color: rgb(189, 170, 170);
}

#paragraph4 {
  font-size: 2em;
}

#paragraph5 {
  font-family: Arial, Helvetica, sans-serif;
}

#div1 {
  border: 2px solid red;
  padding: 12px 15px 17px 20px;
  margin: 10px;
}

#div2 {
  text-align: center;
}
