<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Manager</title>
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/jquery-validate/jquery.validate.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <h1>Employee Manager</h1>
    <hr />
    <div>
        @RenderBody()
    </div>
    <hr />
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <h2>You are signed in as @User.Identity.Name</h2>
        <form asp-controller="Security" asp-action="SignOut" method="post">
            <button type="submit">Sign Out</button>
        </form>
    }

</body>
</html>
