body{
    background-color: darkslategray;
    padding-top: 100px;
}
.cover{
    width: 1000px;
    margin: 20px auto;  
}
h1{
    text-align: center;
    border: none;
    background-color:none;
    color: rgb(177, 221, 223);
    font-size: 50px;
    padding: 10px 10px;
    margin: 50px;
    cursor: pointer;
    float: center;
}
h1:hover{
    color: rgb(192, 44, 44);
    font-size: 60px;
}
h2{
    background-color:none;
    color:rgb(177, 221, 223);
    display: inline-block;
    cursor: pointer;     
    margin: 5px 30px 5px 60px;
}
h2:hover{   
    color: rgb(146, 129, 129);    
}
#negroni,#Manhattan,#CloverClub,#OldFashioned {
    margin: 20px 20px;
    text-align: left;
     background-color:  rgb(216, 216, 228);
     padding: 20px;
}
img:hover {
    margin-left:0px ; 
    cursor: pointer;
}
.negroniText,.manhattanText,.CloverClubText,.OldFashionedText{
    margin: -150px 20px 20px 160px;
    text-align:left;
    color: #888888;
    display: block;
    max-width: 100%;
    color: teal;
    cursor: pointer;
    display: block;
}
.buttonNegroni,.manhattanButton,.CloverClubButton,.OldFashionedButton {
    background-color: #336336;
    border: none;
    color: white;
    padding: 15px 15px;
    float: right;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;  
}
.buttonNegroni:hover,.manhattanButton:hover,.CloverClubButton:hover,.OldFashionedButton:hover {
    background-color: #336336;
    color: rgb(240, 86, 86);
    border:none;
    border-style:groove;
}
#negroni:hover,#Manhattan:hover,#CloverClub:hover,#OldFashioned:hover{
    border-style:none;
}

 
